@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
  --fsg: rgba(31, 34, 41, 0.664); /* Change color of glass background */
  --fss: 30px;                      /* Change size font of Temperature and Condition */
  --fses: 58px;                     /* Change size font of Greetings */
  --fsq: 20px;                      /* Change size font of Quotes */
  --fg: #d8dee9;                  /* Change color of letters */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: var(--fg);
  font-size: 13.5px;
  transition: 0.2s ease-in-out;
}

html {
    height: 100%;
    width: 100%;
    background-position-x: center;
    background-size: cover;
    display: block;  
}  

body {
    background: var(--fsg);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.container {
  width: 150vh;
  height: 85vh;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 20px; 
}

.weather {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#greetings {
  font-size: var(--fses);
  font-weight: bolder;
  text-shadow: 1px 3px 5px black; 
  text-align: center;
  align-items: center;
  justify-content: center; 
}

.weather-icon img {
  padding-top: 1px;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.temperature-value p {
  font-size: var(--fss);
  font-weight: bolder;
  margin-left: 15px;
  padding-top: 1px;
  text-shadow: 1px 3px 5px black;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.temperature-description p {
  text-transform: capitalize;
  font-size: var(--fss); 
  font-weight: 600; 
  margin-left: -20px; 
  padding: 30px;
  text-shadow: 1px 3px 5px black;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.quote-description p {
    font-style: italic;
    font-size: var(--fsq);  
    margin-left: 15px;
    text-align: center;
    text-shadow: 1px 3px 5px black;
    align-items: center;
    justify-content: center; 
}  